@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200&display=swap');
*{
	
	font-family:  sans-serif;
	padding: 0px;
	margin: 0px;
	font-weight: 400;
	font-size: 18px;
	list-style: none;
	letter-spacing: 1px;
    border: none;
}
body
{
    background:linear-gradient(to right,rgb(119, 64, 130),rgba(119, 64, 130,0.3));
}
.box
{
    height: 321px;
    width: 343px;
    background-color: rgb(209, 144, 144);
    margin: 4% auto;
    border-radius: 18px;
    box-shadow: 0 0 25px rgb(0, 0, 0,0.5);
    border: 1px solid black;
}
.cont
{
    height: 30px;
    width: 100%;
    background-color: blue;
    border-radius:20px 20px 0 0 ;
}
.box1
{
    padding: 8px;

}

.head
{
    display: flex;
    justify-content: center;
    padding: 5px;
}
h1
{
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 550;
}
.lb2{
    display: flex;
    justify-content: center;
    margin:23px;

}
.lb1{
    margin: 13px;
}
.inpform1
{
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    width: 231px;
}
.subtn1
{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 0px;
    background-color:rgb(56, 92, 209) ;
}
.subtn1:hover
{
    background-color:rgb(90, 118, 209) ;
    transition: 0.3s;

}
.bttn
{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.bttn button
{
    padding: 6px;
    cursor: pointer;
    border-radius: 7px;
    background-color: #a0f150;
}
.bttn button:hover
{
    background-color: #75af3b;
    transition: 0.3s;
}
.check
{
    margin: 8px;
}
.check input{
    margin:6px;
}
.form1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 14px 13px 30px;
}

