* {
    font-family:  sans-serif;
	padding: 0px;
	margin: 0px;
	font-weight: 400;
	font-size: 15px;
	list-style: none;
	letter-spacing: 0.5px;
    border: none;
}
body
{
    background:linear-gradient(to right,rgb(119, 64, 130),rgba(119, 64, 130,0.3));
}
.container {
    height: 100%;
    width: 100%;
    background-image: url(astro.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    background-blend-mode: darken;
}
.box
{
    height: 362px;
    width: 300px;
    background-color: rgb(209, 144, 144);
    margin: 4% auto;
    padding: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    box-shadow: 0 0 25px rgb(0, 0, 0,0.5);
    border: 1px solid black;
}
.box1
{
    width: 157px;
    margin: 15px auto;
    background-color: aqua;
    position: relative;
    box-shadow: 0 0 18px rgb(197, 13, 13);
    padding: 6px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}
.btn1
{
    top: 0;
    left:0;
    position:absolute;
    width:90px;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(175, 231, 45);
    transition: .5s;
}
.btn2
{
    padding:8px 22px;
    cursor:pointer;
    position: relative;
    border: 0;
    outline: none;
    background: transparent;
}

.inpform1
{
    width: 272px;
    margin:4px;
    padding: 7px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid rgba(63, 44, 44, 0.952);
    outline: none;
    background: transparent;

}
.subtn
{
    width:35%;
    cursor: pointer;
    padding: 10px 51px;
    margin: 15px auto;
    border: 0;
    outline: none;
    display: flex;
    justify-content: center;
	background:linear-gradient(to right,rgb(119, 64, 130),rgba(119, 64, 130,0.3));
    border-radius: 8px;
}
.subtn:hover
{
    box-shadow: 0 0 18px rgb(197, 13, 13);
}
.check1
{
    margin: 30px 10px 30px 0 ;
}
span
{
    color: rgb(52, 64, 75);
    font-size: 12px;
    position: absolute;
    bottom: 96px;
}
.form1
{
    top:121px;
    width:270px;
    position: absolute;
    transition: .5s;
    overflow:hidden ;
}
#login
{
    left:20px;
}
#register
{
    left: 450px;
}
.btn-blk
{
    display: flex;
}
.admin
{
   
    padding: 5px;
    width:100% ;
    display: flex;
    justify-content: center;
}
.admin button
{
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    background-color:rgb(55, 211, 55);
}
.admin button:hover
{
    background-color:rgb(37, 145, 37);
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(0, 0, 0,0.7);
}
.buttons
{
	display: flex;
}
.admin button
{
    margin: 9px auto;
}
